@page "/"
@using BlazorApp.Data;
@using Microsoft.EntityFrameworkCore;
@inject NavigationManager Navigation
@inject IDbContextFactory<ContactContext> DbFactory
<PageTitle>Index</PageTitle>

<h1>Contacts Blazor App</h1>

Welcome to your Blazor Server with EF core app.


<p>This component demonstrates fetching contacts data from the service.</p>

@if (contacts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <button @onclick="NavigateToAddContact" class="btn btn-primary add-contact-button">Add Contact</button>
    <table class="table">
        <thead>
            <tr>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Phone Number</th>
                <th>Date Of Birth</th>
                <th>Actions</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var contact in contacts)
            {
                <tr>
                    <td>@contact.LastName</td>
                    <td>@contact.FirstName</td>
                    <td>@contact.PhoneNumber</td>
                    <td>@contact.BirthDate.ToString()</td>
                    <td>
                        <button @onclick="(() => NavigateToEditContact(contact.Id))" class="btn btn-warning">Edit</button>
                        
                    </td>
                </tr>
            }
        </tbody>
    </table>

}

@code {
    private Contact[]? contacts;

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        {
            contacts = await context.Contacts.ToArrayAsync();
        }
    }
    private void NavigateToAddContact()
    {
        Navigation.NavigateTo("/createcontact");
    }
    private void NavigateToEditContact(Guid id)
    {
        Navigation.NavigateTo($"/updatecontact/{id}");
    }

}